.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;
  position: relative;
  z-index: 10;
}


.logo {
  font-weight: 700;
  font-size: 18px;
}


.signin {
  cursor: pointer;
  transition: color 0.3s ease;
}

.signin:hover {
  color: #ff5a1f;
}


.nav-center {
  position: relative;
  padding: 10px 25px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);

  box-shadow:
    0 0 25px rgba(255, 80, 0, 0.15),
    inset 0 0 12px rgba(255, 255, 255, 0.06);

  transition: all 0.3s ease;
}

.nav-center:hover {
  box-shadow:
    0 0 35px rgba(255, 80, 0, 0.25),
    inset 0 0 15px rgba(255, 255, 255, 0.08);
}


.nav-center::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.15),
    transparent
  );

  opacity: 0.2;
  pointer-events: none;
}


.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  position: relative;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* UNDERLINE ANIMATION */
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;
  background: #ff5a1f;

  transition: width 0.3s ease;
}

.nav-links li:hover {
  color: white;
}

.nav-links li:hover::after {
  width: 100%;
}